@import "reset";

#app {
  button:hover {
    border: 1px solid black;
  }
  .modal-window{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: pink;
    padding: 20px;
    .body-input{
      width: 400px;
      height: 120px;
      margin-top: 15px;
    }
    .create-post-button{
      margin-top: 10px;
      padding: 10px;
      border-radius: 5px;
    }
    .cancel-post-button{
      margin-top: 10px;
      padding: 10px;
      border-radius: 5px;

    }
  }
  position: relative;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .new-post {
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
  }
  .post {
    position: relative;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 2px solid black;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    .delete-post {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 3px;
      border-radius: 3px;
    }
    .edit-post {
      position: absolute;
      bottom: 10px;
      right: 10px;
      padding: 3px;
      border-radius: 3px;
    }
    .change-post {
      position: absolute;
      bottom: 10px;
      right: 80px;
      padding: 3px;
      border-radius: 3px;
      display: none;
    }
    &:not(:first-of-type) {
      margin-top: 25px;
    }
    &-title {
      width: fit-content;
      text-decoration: underline;
      margin-bottom: 10px;
      line-height: 25px;
      &::first-letter {
        text-transform: uppercase;
      }
    }
    &-body {
      line-height: 25px;
      &::first-letter {
        text-transform: uppercase;
      }
    }
    .user-info {
      margin-top: 10px;
      height: 14px;
    }
  }
  .loading-page {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 30px solid pink;
    border-top: 30px solid black;
    animation: loading 1000ms linear infinite;
  }
  @keyframes loading {
    0% {
      rotate: 0deg;
    }
    100% {
      rotate: 360deg;
    }
  }
  .edit {
    background-color: pink;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
  }
}
